body {
  color: #252525;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #252525;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
}

.loading {
  margin: 0 auto;
}

.option {
  border-radius: 2px;
  border: 1px solid #d0d0d0;
  margin: 10px;
}

.option:hover {
  border: 2px solid #252525;
  cursor: pointer;
}

.chosen {
  border: 2px solid #00b5d6;
}

.result {
  display: flex;
  justify-content: space-between;
}

.poll-author {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
}

.poll-author img {
  border-radius: 20px;
  height: 40px;
  margin: 0 10px;
  width: 40px;
}

.btn {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  font-size: 16px;
  margin: 35px auto;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  width: 250px;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  border-width: 2px;
  font-weight: 700;
  outline: 0;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.dashboard-toggle {
  align-items: center;
  display: flex;
  font-size: 22px;
  justify-content: center;
}

.dashboard-toggle button {
  background: transparent;
  border: none;
  font-size: 22px;
}

.dashboard-list {
  font-size: 18px;
  letter-spacing: 0.4px;
}

.dashboard-list a:hover {
  font-weight: 600;
}

.add-poll-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.poll-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.question {
  font-size: 30px;
  text-align: center;
}

.avatar {
  border-radius: 20px;
  height: 40px;
  margin-top: 10px;
  width: 40px;
}

.user {
  display: flex;
}

.user h1 {
  font-size: 30px;
  margin: 0;
}

.user img {
  border-radius: 20px;
  height: 40px;
  margin-right: 20px;
  width: 40px;
}

.user p {
  margin-bottom: 6px;
  margin-top: 6px;
}

@media (max-width: 500px) {
  .poll-container {
    flex-direction: column;
    width: 95%;
  }
}

.add-form {
  margin: 0 auto;
  width: 600px;
}

input {
  appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  outline: none;
  width: 100%;
}

.btn {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  font-size: 16px;
  margin: 35px auto;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  width: 250px;
}

.label {
  display: block;
  font-size: 20px;
  margin-bottom: 0.25em;
}

.input {
  background-color: white;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  padding: 5px;
}
.input:focus {
  border-color: gray;
}
